from textblob import TextBlob
text = """
Python is a simple programming language.
It is a user friendly programming language.
It is a Interpreter.
"""
blob = TextBlob(
text,
tokenizer=None,
pos_tagger=None,
np_extractor=None,
analyzer=None,
classifier=None
)
review = TextBlob("Python is an Interesting Programming Language")
print("Sentence Sentiments:")
for s in review.sentences:
print(f"{s} -> {s.sentiment.polarity:+.2f}")
print("\nNoun Phrases:",review.noun_phrases)
print("\nCorrected text:",review.correct())
print("\nSpanish translation:",review.translate(to="es"))
---------------------------------------------------------------------------
LookupError Traceback (most recent call last)
/usr/local/lib/python3.11/dist-packages/textblob/decorators.py in decorated(*args, **kwargs)
 34 try:
---> 35 return func(*args, **kwargs)
 36 except LookupError as error:
11 frames
LookupError:
**********************************************************************
 Resource punkt_tab not found.
 Please use the NLTK Downloader to obtain the resource:
 >>> import nltk
 >>> nltk.download('punkt_tab')

 For more information see: https://www.nltk.org/data.html
 Attempted to load tokenizers/punkt_tab/english/
 Searched in:
 - '/root/nltk_data'
 - '/usr/nltk_data'
 - '/usr/share/nltk_data'
 - '/usr/lib/nltk_data'
 - '/usr/share/nltk_data'
 - '/usr/local/share/nltk_data'
 - '/usr/lib/nltk_data'
 - '/usr/local/lib/nltk_data'
**********************************************************************
The above exception was the direct cause of the following exception:
MissingCorpusError Traceback (most recent call last)
/usr/local/lib/python3.11/dist-packages/textblob/decorators.py in decorated(*args, **kwargs)
 35 return func(*args, **kwargs)
 36 except LookupError as error:
---> 37 raise MissingCorpusError() from error
 38
 39 return decorated
MissingCorpusError:
Looks like you are missing some required data for this feature.
To download the necessary data, simply run
 python -m textblob.download_corpora
or use the NLTK downloader to download the missing data: http://nltk.org/data.html
If this doesn't fix the problem, file an issue at https://github.com/sloria/TextBlob/issues.
 File "/tmp/ipython-input-2621292756.py", line 1
 python -m textblob.download_corpora
 ^
SyntaxError: invalid syntax

